.LoginChild {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.LoginChild .form-login {
  border: 1px solid white;
  /* width: 100%; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoginChild .close {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid;
  text-align: center;
  line-height: 45px;
}

.LoginChild .close .closebutton {
  font-size: 15px;
}